photo-share-modal {

  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

  tag-input {
    background:#fff;
    padding-left: 10px;
  }

  .list-ios .item-block .item-inner {
    border-bottom: none;
  }

  
}
